{% if not products %}
{% if search.digging %}
<p class="alert alert-info" role="alert">Recherche en cours...</p>
{% else %}
<p class="alert alert-warning" role="alert">Rien trouvé :-(</p>
{% endif %}
{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Pochette</th>
      <th scope="col">Titre</th>
      <th scope="col">Média</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Disquaire</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    {% include "_product_tr.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
