<tr data-hx-boost="true" data-hx-target="main">
  <td>
    {% thumbnail product.image_url "200x200" crop="80% top" as im %}
    <a href="{{ product.get_absolute_url }}">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
        loading="lazy" class="img-thumbnail" alt="Pochette de {{ product.title }}">
    </a>
    {% endthumbnail %}
  </td>
  <td>
    <h2 class="h6"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
    </h2>
    {% if product.description %}{{ product.description|linebreaks }}{% endif %}
  </td>
  <td>{{ product.get_medium_display|default:'?' }}</td>
  <td>{{ product.price_in_eur }}</td>
  <td>{{ product.get_availability_display }}</td>
  <td><a href="{{ product.url }}" target="_blank">{{ product.shop }}</a></td>
</tr>
