<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" data-hx-boost="false">
      <img class="d-inline-block align-text-top" src="{% static 'images/logo.svg' %}"
        alt="Disques" width="30" height="24">
      Disqu.es
    </a>
    <form data-hx-boost="true" data-hx-target="main"
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' method="post"
      action="{% url 'search' %}" class="d-flex" role="search">
      {% render_field form.query placeholder=form.query.label type="search" class+="form-control me-2" %}
      {% csrf_token %}
      <button class="btn btn-outline-success d-flex" type="submit" id="search-btn">
        <span class="spinner-border spinner-border-sm htmx-indicator" role="status"
          aria-hidden="true">
          <span class="visually-hidden">Loading...</span>
        </span>
        Recherche
      </button>
    </form>
  </div>
</nav>
