{% load compress %}
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Disques{% endblock %}</title>
  <meta name="description"
    content="Un méta-moteur de recherche pour faciliter l'acquisition régulière de disques et l’optimisation des frais de port.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}"
    color="#ff5349">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#ff5349">
  {% compress css %}
  <link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  {% compress js %}
  <script src="{% static 'htmx/htmx.2.0.2.js' %}" defer></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}" defer></script>
  {% endcompress %}
</head>

<body class="container-md" data-hx-push-url="true">
  <header>
    {% include "_navbar.html" %}
  </header>
  {% block content-container %}
  <main class="py-3">{% block content %}{% endblock %}</main>
  {% endblock %}

  <footer>
    {% include "_footer.html" %}
  </footer>

  {% if debug %}
  {% comment %}
  cf. https://django-debug-toolbar.readthedocs.io/en/latest/installation.html#htmx
  {% endcomment %}
  <script>
    if (typeof window.htmx !== "undefined") {
      htmx.on("htmx:afterSettle", function (detail) {
        if (
          typeof window.djdt !== "undefined" &&
          detail.target instanceof HTMLBodyElement
        ) {
          djdt.show_toolbar();
        }
      });
    }

  </script>
  {% endif %}
  {% block javascript %}{% endblock %}
</body>

</html>
